<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Project : Create</title>
  </head>
  <body>
    
    <div class="container">
    <form action="#" th:action="@{/pj/(createProjectForm)}" th:object="${proj}" method="post">
    	
    	<a href = "index" th:href="@{/}"> Clic here to back to Home page </a>
    	<div> <h2 > Create a project </h2></div>
	    <div>
	    	<label for="name"> Name</label>
		    <input type="text" th:field="*{name}" />
		    	
		    <label for="description"> Description</label>
		    <input type="text" th:field="*{description}" />
		    	
		    <input type="submit" value="Create"/> 
	    </div>    
    </form>
    </div>
  </body>
</html>