<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
<!--   <title>Welcome to Poc-Team-Cloud Platform</title> -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link href="/assets/css/main.css" th:href="@{/assets/css/main.css}" rel="stylesheet" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
<!--         <div class="navbar-header"> -->
<!--           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse"> -->
<!--             <span class="icon-bar"></span> -->
<!--             <span class="icon-bar"></span> -->
<!--             <span class="icon-bar"></span> -->
<!--           </button> -->
<!--           <a class="navbar-brand" href="#">PTC</a> -->
<!--         </div> -->
		<div class="navbar-collapse collapse"> 
          
		<ul id="menu" class="nav navbar-nav">
		    <li><a href="#">Home</a></li>
		    <li><a href="#">Projet</a>
			 	<ul>
			     <li><a href="#">View Projet</a></li>
			     <li><a href="#">Creer Projet</a></li>
			    </ul></li>
		    <li><a href="#">Membre</a>
		    	 <ul>
		            <li><a href="#">Profile</a></li>
		            <li><a href="#">Ajoute Membre</a></li>
		        </ul></li>
		    <li><a href="#">About</a></li>
		    <li><a href="#">Contact</a></li>
	 	</ul> 
         
        </div>
      </div>
    </div>
  </body>
</html>