<!DOCTYPE html>
<html>
<head>
  <link rel="import" href="pages/header.html">
  <title>PoC-TeamCloud</title>
  <meta charset="utf-8" />
   <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="assets/css/main.css" rel="stylesheet">
   <script src="/scripts/jquery.min.js"></script>
   <script src="assets/bootstrap/js/bootstrap.min.js"></script>
   <script src="assets/js/header.js"></script>
</head>



<body>
	
<header>
  <div class="container">
   <div class="jumbotron">
      <h1>TeamCloud</h1>
     <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
   </div>
   </div>
</header>

<section id="one">
<header>

<div class="container">
  <h2>Projet Recent</h2>
</div>
</header>

<div class="container">
 <div class="work-item">
 <img src="images/fulls/01.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">

 <p>First project</p>
 </div>


<div class="work-item">
 <img src="images/fulls/01.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">

 <p>Second project</p>
 </div>

</div>
</section>

<div>
<ul class="actions">
        <li><a href="#" class="button">Full Portfolio</a></li>
</ul>
</div>





</body>

 


</html>