<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Projects - poc-team-Cloud</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body id="top">
	<!-- Header -->
	<header id="header">
		<div class="inner">
			<h1>
				<strong> We are P-T-C !</strong> The team, <br /> which think
				perform and realize the implementation and the maintain of this
				platform <br /> here are our gitHub <a
					href="https://github.com/Aetsmtl/poc-team-cloud">
					pocTeamCloud-Open-Source-GitHub-Project</a>.<br /> And we are just
				below ! :-)
			</h1>

			<a href="#" class="image avatar" th:each="member : ${ourTeam}"> <img
				src="images/avatar.jpg" alt="" />
				
				<span th:text="${member.lastName}">name</span>
				<p th:text="${member.role}">role</p>
			</a>

		</div>
	</header>

	<!-- Main -->
	<div id="main">
	<!-- zero -->
		<section id="one">
			<header class="major">
				<h2>BACK TO HOME</h2>
			</header>
			<h2>Back to the home page :-)</h2> 
			<a href = "index" th:href="@{/}"> Clic here to back to ... blablbla </a>
		</section>
		
		<!-- One -->
		<section id="one">
			<header class="major">
				<h2>Description</h2>
			</header>
			<p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac
				nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in
				curae lobortis tortor primis integer massa adipiscing id nisi
				accumsan pellentesque commodo blandit enim arcu non at amet id arcu
				magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem
				vulputate lorem neque cubilia.</p>

		</section>

		<!-- Two -->
				<section id="two">
			<header class="major">
				<h2>Recent Work</h2>
			</header>
			<div class="row" >
				<article class="6u 12u$(xsmall) work-item" th:each="project : ${ourProject}">
					<a href="images/fulls/01.jpg" class="image fit thumb"> <img
						src="images/thumbs/01.jpg" alt="" /></a> <a th:href="@{/pj/{pID}(pID=${project.id})}" href="projectX" th:text="${project.name}">
						Project x </a>
					<p th:text="${project.description}">Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
          
				</article>
			</div>
			<ul class="actions">
				<li><a href="#" class="button">Full Portfolio</a></li>
			</ul>
		</section>

	</div>

	<!-- Footer -->
<!-- 	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span
						class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon fa-envelope-o"><span
						class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled</li>
				<li>Design: <a href="http://pocteamcloud.fr">Team-Cloud</a></li>
			</ul>
		</div>
	</footer> -->
</body>

</html>