<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Oups... It is seem like we are facing a trouble</title>
<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link href="/assets/css/main.css" th:href="@{/assets/css/main.css}"
	rel="stylesheet" />
<link href="/assets/bootstrap/css/bootstrap.css"
	th:href="@{/assets/bootstrap/css/bootstrap.css}" rel="stylesheet" />

<script src="/assets/scripts/jquery.min.js"
	th:href="@{/assets/scripts/jquery.min.js}"></script>
<script src="/assets/bootstrap/js/bootstrap.js"></script>
<script src="/assets/js/header.js"></script>

<!-- footer -->
<link href="/assets/bootstrap/css/bootstrap.min.css"
	th:href="@{/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link href="/assets/font/css/font-awesome.min.css"
	th:href="@{/assets/font/css/font-awesome.min.css}" rel="stylesheet" />
<link href="/assets/css/footer.css" th:href="@{/assets/css/footer.css}"
	rel="stylesheet" />

<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>
	<!-- Header -->
	<header th:replace="header :: header"> </header>

	<div class="container">
		<br></br>
		<h3 th:text="${errorMsg}"></h3>
		<br></br>
	</div>

	<!-- Footer -->
	<footer id="footer" th:replace="footer :: footer"></footer>
</body>

</html>

